* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --line-top: rgb(255, 246, 142);
  --line-bot: rgba(163, 143, 28, 0.574);
}

body {
  background-color: #1f1f1f;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.chart-wrapper {
  width: 100%;
  /* min-height: 300px; */
  /* height: 100%; */
  /* max-height: 500px; */
  padding: 5px;
  flex-grow: 1;
  padding-top: 10px;
  /* background-color: gray; */
}