:root {
    --input-bg: #3d3d3d;
    --input-fg: white;
    --font-size: 20px;
}

.toolbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

.toolbox label,
.toolbox input,
.toolbox button {
    font-size: var(--font-size);
    color: rgb(228, 228, 228);
    text-align: center;
}

.toolbox input {
    color: var(--input-fg);
    border-radius: 5px;
    width: 7em;
    background-color: var(--input-bg);
    padding: 3px 0px;
    outline: none;
    margin-left: 5px;
    margin-right: 10px;
}

.select-interval {
    font-size: var(--font-size);
    color: var(--input-fg);
    text-align: center;
    border-radius: 3px;
    width: 100px;
    padding: 3px 0px;
    background-color: var(--input-bg);
    border: none;
}


.btn-find {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size:var(--font-size);
}